<nav class="navbar navbar-expand-md navbar-dark gradient-purple">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="ml-2"><i class="fas fa-bullhorn text-white"></i> Quadro de Avisos</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/"><i class="fas fa-home text-white"></i> Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/warnings"><i class="fas fa-clipboard text-white"></i> Meus Avisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/warnings/new"><i class="fas fa-plus-square text-white"></i> Novo Aviso</a>
        </li>
      </ul>
    </div>
  </div>
</nav>